<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Quick and Dirty : {{ title }}</title>
    <link rel="stylesheet" href="{{'/assets/css/font.css' | url }}" />
    <link rel="stylesheet" href="{{'/assets/css/reset.css' | url }}" />
    <link rel="stylesheet" href="{{'/assets/css/style.css' | url }}" />
</head>
<body>

    {% block page %}
    
    {% endblock page %}
    
</body>
</html>